<h1>Admin >> Dashboard</h1>

<table class="admin-table">
  <tr>
    <th></th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Number of Products</td>
    <td><%= @product_count %></td>
  </tr>
  <tr>
    <td>Number of Categories</td>
    <td><%= @category_count %></td>
  </tr>
</table>